  <section class="hero is-light is-medium is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          About me
        </h1>
        <p>Hello, I am a hard working, responsible
            person looking forward to take part in 
            a new adventure.</p>
            <p>I am looking forward to
            use my programming skills to reach your 
            company’s goals, willing to learn new 
            technologies.
        </p>
        <p>You can find some of my work below.</p>
        
      </div>
    </div>
  </section>
  <body>
    <section class="section is-bold, is-medium, is-light">
      <div class="container">
        <h1>
            <a href="https://github.com/aleneagu96" target="_blank">GitHub</a>
        </h1>
        <h1>
            <a href="https://www.linkedin.com/in/aleneagu96/" target="_blank">LinkedIn</a>
            </h1>
            <br>
            <br>
            <h3>
                <uL>Projects</uL>
                    <li><a href="https://github.com/aleneagu96/vendingMachine" 
                    target="_blank">Vending Machine </a></li>
                    <li><a href="https://github.com/aleneagu96/candidatesRecrutingSystem" 
                    target="_blank">Candidates Recruting System</a></li>
                    <li><a href="https://github.com/aleneagu96/jdbcAndHibernate" 
                    target="_blank">JPA Project</a></li>
                     <li><a href="https://github.com/aleneagu96/sda-course" 
                    target="_blank">Spring Project</a></li>
                    <li><a href="https://github.com/aleneagu96/junit" 
                      target="_blank">JUnit</a></li>
                        
            </h3>
      </div>
    </section>
  </body>